.message-list-container {
    overflow-y: scroll;
  }
  
  .message-list-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .bot-message-container {
    display: flex;
  }

  .option-container {
    display: flex;
    justify-content: space-between;
  }

  .option {
    border: solid 0.1rem;
    border-radius: 13px;
    color: purple;
    cursor: pointer;
    font-size: 15px;
  }

  .option-text {
    padding: 6px;
  }

  .user-message-containter {
    display: flex;
    justify-content: flex-end;
  }

  .message {
    padding: 0.5rem;
    margin-bottom: 3%;
    max-width: 250px;
  }
  
  .bot-message {
    background-color: #d3d8f5;
    border-radius: 0px 20px 20px 20px;
  }
  
  .user-message {
    background-color: #6077fa;
    border-radius: 20px 20px 0px 20px;
    color: white;
    display: flex;
    cursor: pointer;
  }

  .edit-delete-container {
    display: flex;
    justify-content: end;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .edit {
    margin-right: 5px;
    color: black;
    border-width: 0px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-right: 15px;
    background: #a5b1fa;
  }

  .edit :hover {
    color: rgb(0, 47, 18);
    cursor: pointer;
  }

  .delete {
    color: black;
    border-width: 0px;
    border-radius: 45%;
    height: 20px;
    width: 20px;
    padding-right: 15px;
    background: #a5b1fa;
  }

  .delete :hover{
    color: rgb(184, 30, 30);
    cursor: pointer;
  }

  .edit-delete-combined {
    background: #a5b1fa;
    border-radius: 10px;
  }

  .edit-delete-combined :hover {
    background: #ffffff;
  }

  .deleted-message {
    color: #a41717;
    font-style: italic;
    font-weight: bold;
  }

  .edited {
    color: #c5d6b5;
    font-style: italic;
  }

  .message-loader {
    width: 25px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
  }